body {
    background-color: rgb(34, 209, 87);
}

.logo {
   background-color: white;
   width: 300px;
   height: 300px;
   margin: 100px;
   float: left;
   position: relative;
}

.imagenprincipal {
    position: absolute;
    top: 0px;
    left: 0px;
}

.imagensecundaria {
    position: absolute;
    top: 0px;
    left: 0px;
}